.sombra-accordion {
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.55);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.55);
}

.accordion-tamanho {
    margin-bottom: 2%;
}
.area-accordion {
    margin: 0 auto;
    width: 96%;
    margin-top: 5%;
}