<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Login
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <form #f="ngForm">
  <ion-grid style="margin-top:25%">
    <ion-row>
        <ion-col offset="4" size="4">
            <ion-img  src="https://www.freeiconspng.com/uploads/user-login-icon-14.png"></ion-img>
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="1" size-xs="10" size-sm="10" size-md="8" size-lg="7" size-xl="6">
          <ion-item>
              <ion-icon slot="start" style="margin-bottom: -10px;" color="white" name="person"></ion-icon>
              <ion-label
                  position="floating"
                  color="{{
                    !cpfCnpj.valid && cpfCnpj.touched
                      ? 'danger'
                      : cpfCnpj.valid
                      ? 'success'
                      : ''
                  }}"
                  >CPF</ion-label
                >
                <ion-input
                #cpfCnpj="ngModel"
                [(ngModel)]="cliente.cpfCnpj"
                maxlength="14"
                [appMascara]="'000.000.000-00'"
                name="cpfCnpj"
                appCpf
              ></ion-input>
              <ion-icon
                *ngIf="cpfCnpj.valid && cpfCnpj.touched"
                name="checkmark-circle-outline"
                color="success"
                style="margin-bottom: -10px;"
                slot="end"
              ></ion-icon>
            </ion-item>                        
      </ion-col>      
    </ion-row>
    <ion-row>
      <ion-col offset="1" size-xs="10" size-sm="10" size-md="8" size-lg="7" size-xl="6">
          <ion-item>
            <ion-icon slot="start" style="margin-bottom: -10px;" name="lock"></ion-icon>
            <ion-label
              position="floating"
              color="{{
                !senha.valid && senha.touched
                  ? 'danger'
                  : senha.valid
                  ? 'success'
                  : ''
              }}"
              >Senha</ion-label
            >
            <ion-input
              #senha="ngModel"
              [(ngModel)]="cliente.senha"
              required
              maxlength="30"
              name="senha"
              type="password"
            ></ion-input>
            <ion-icon
              *ngIf="senha.valid && senha.touched"
              name="checkmark-circle-outline"
              color="success"
              style="margin-bottom: -10px;"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ion-col> 
    </ion-row>  
  </ion-grid>
  <ion-button style="margin-top: 30%;" (click)="login()" size="large" expand="full"  disabled="{{!f.valid}}" color="tertiary">Login</ion-button>
</form>
</ion-content>
