ion-icon {
    font-size: 30px;
    color: darkgreen;
    float: left
}

#conteudo-msg span {
    position: relative;
    top: 4px;
    left: 25px;
}

.link-pedido {
    text-decoration: underline;
    color: lightseagreen;
}