<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cadastrar Cartão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="12">
          <ion-item>
            <ion-label
              position="floating"
              color="{{
                !numero.valid && numero.touched
                  ? 'danger'
                  : numero.valid
                  ? 'success'
                  : ''
              }}"
              >Número</ion-label
            >
            <ion-input
              #numero="ngModel"
              [(ngModel)]="cartao.numero"
              maxlength="19"
              minlength="19"
              required
              [appMascara]="'0000.0000.0000.0000'"
              pattern="^\d+(\.\d+)*$"
              name="numero"
            ></ion-input>
            <ion-icon
              *ngIf="numero.valid && numero.touched"
              ios="ios-checkmark-circle"
              md="md-checkmark-circle"
              color="success"
              style="margin-bottom: -10px;"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: 5%">
        <ion-col size-sm="12" size-md="12">
          <ion-text *ngIf="!numero.valid && numero.touched" color="danger"
            >Verifique o preenchimento do campo</ion-text
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="12">
          <ion-item>
            <ion-label
              position="floating"
              color="{{
                !bandeira.valid && bandeira.touched
                  ? 'danger'
                  : bandeira.valid
                  ? 'success'
                  : ''
              }}"
              >Bandeira</ion-label
            >
            <ion-input
              #bandeira="ngModel"
              [(ngModel)]="cartao.bandeira"
              maxlength="30"
              required
              name="bandeira"
            ></ion-input>
            <ion-icon
              *ngIf="bandeira.valid && bandeira.touched"
              ios="ios-checkmark-circle"
              md="md-checkmark-circle"
              color="success"
              style="margin-bottom: -10px;"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: 5%">
        <ion-col size-sm="12" size-md="12">
          <ion-text *ngIf="!bandeira.valid && bandeira.touched" color="danger"
            >Verifique o preenchimento do campo</ion-text
          >
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 20px;">
        <ion-col size="12" size-sm="12" size-md="12">
          <ion-item>
            <ion-label
              color="{{
                !dtVencimento.valid && dtVencimento.touched
                  ? 'danger'
                  : dtVencimento.valid
                  ? 'success'
                  : ''
              }}"
              >Data Vencimento</ion-label
            >
            <ion-datetime
              name="dtVencimento"
              [(ngModel)]="cartao.dtVencimento"
              #dtVencimento="ngModel"
              required
              max="2100-01-01"
              display-format="MM/YYYY"
            ></ion-datetime>
            <ion-icon
              *ngIf="dtVencimento.valid && dtVencimento.touched"
              ios="ios-checkmark-circle"
              md="md-checkmark-circle"
              color="success"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: 5%">
        <ion-col size-sm="12" size-md="12">
          <ion-text
            *ngIf="!dtVencimento.valid && dtVencimento.touched"
            color="danger"
            >Verifique o preenchimento do campo</ion-text
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="12">
          <ion-item>
            <ion-label
              position="floating"
              color="{{
                !cvv.valid && cvv.touched
                  ? 'danger'
                  : cvv.valid
                  ? 'success'
                  : ''
              }}"
              >CVV</ion-label
            >
            <ion-input
              #cvv="ngModel"
              [(ngModel)]="cartao.cvv"
              pattern="\d{3}"
              maxlength="3"
              required
              name="cvv"
            ></ion-input>
            <ion-icon
              *ngIf="cvv.valid && cvv.touched"
              ios="ios-checkmark-circle"
              md="md-checkmark-circle"
              color="success"
              style="margin-bottom: -10px;"
              slot="end"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: 5%">
        <ion-col size-sm="12" size-md="12">
          <ion-text *ngIf="!cvv.valid && cvv.touched" color="danger"
            >Verifique o preenchimento do campo</ion-text
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="12" size-sm="12">
          <ion-button
            expand="block"
            (click)="cadastrar()"
            color="tertiary"
            disabled="{{ !f.valid }}"
            >Cadastrar</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
